# URL base del backend (para probar con el servidor mock lo cambiaremos a: http://localhost:4000)
BACKEND_URL=http://localhost:3000
TELEMETRY_PATH=/api/unidades/telemetria

IOT_API_KEY=cambiar-esta-clave
 
INTERVAL_MS=3000
 
TIME_SCALE=10
 
DRY_RUN=false

INACTIVE_UNITS=9
